*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-background: #151718;
  --color-text: white;
  --gradient-text: linear-gradient(
    270deg,
    rgb(110, 86, 207) 0%,
    rgb(249, 209, 255) 100%
  );
  --container-max: 1120px;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter Variable', sans-serif;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: 500;
}
.wrapper {
  max-width: 1120px;
  margin: 0 auto; /* Center the wrapper horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading {
  display: flex;
  gap: 2em;
  padding: 20px 16px;
  font-size: 0.875rem;

  nav {
    flex: 1;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;

    font-weight: 400;

    a {
      opacity: 0.6;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.containervids {
  padding: 80px;
  position: relative;
  width: 100%;
  height: 480px;
}

.layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the videos fit nicely */
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 2s ease; /* Smooth transition */
}

.layer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the videos fit nicely */
}

.logo {
  width: 82px;
  height: 24px;
  display: flex;
  align-items: left;
  -webkit-font-smoothing: antialiased;
}

.headerButtonLeft {
  background-color: var(--color-background);
  border-radius: 6px;
  font-weight: 600;

  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  border-top-color: rgba(255, 255, 255, 0.3);

  color: white; /* Ensure text color is set */
  padding: 0.4rem 1rem;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
  box-shadow: 0.2;

  &:hover {
    background-color: rgba(
      255,
      255,
      255,
      0.1
    ); /* Set background opacity to 20% */
    color: white; /* Text remains fully opaque */
  }
}

.headerButtonRight {
  text-align: center;
  background: linear-gradient(to bottom, #7462e2, #644fe3);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.457);
  border-width: 1.5px;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-left-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  cursor: pointer;
  color: var(--color-text);
  transition: 0.5s ease;

  &:hover {
    background-color: #8574e3;
    color: white; /* Text remains fully opaque */
  }
}

.firstPart {
  gap: 2rem;
}

.h1Margin {
  margin: 2rem;
  line-height: 4rem;
}

.buttonLearn {
  text-align: center;

  background-color: var(--color-text);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  border-radius: 30px;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-left-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--color-background);
  margin: 1rem auto;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: rgba(
      255,
      255,
      255,
      0
    ); /* Set background opacity to 20% */
    color: white; /* Text remains fully opaque */
  }
}

.visible {
  opacity: 1; /* When the first video ends, the second video will fade in */
}

.buttonStartForFree {
  text-align: center;
  background: linear-gradient(to bottom, #7462e2, #644fe3);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1.5px;

  border-radius: 6px;
  border-top-color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  cursor: pointer;
  color: var(--color-text);
  transition: 0.5s ease;
  display: inline-block;
  margin: 1rem auto;
  margin-top: 4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;

  &:hover {
    background-color: #8574e3;
    color: white; /* Text remains fully opaque */
  }
}

p {
  line-height: 2rem;
  opacity: 0.8;
  font-size: 1.3rem;
  font-weight: 400;
}
